<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <span id="vote-micropost-<%= micropost.id %>">
      <%= render 'microposts/vote', micropost: micropost %>
    </span>
    Posted
    <%= time_ago_in_words(micropost.created_at) %>
    ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
Hello
<%= turbo_stream_from micropost, :comments %>
<%= tag.div id: "#{dom_id(micropost)}_comments" do %>
  <%= render micropost.comments.where(post_parent_id: nil)%>
<% end %>
</br>
<%= turbo_frame_tag "new_comment", src: new_micropost_comment_path(micropost),target: "_top" %>
<%= puts "new cmt path"%>
<%= puts new_micropost_comment_path(micropost)%>
